@import "_footer";


body{
  background-color:peachPuff;
}

#board{
  width:492px;
  height:492px;
  background-color:lightBlue;
  border: 1px solid brown;
}

#board div {
  border: 2px solid brown;
      width: 78px;
      height: 78px;
      float:left;
}

h1{
  color:brown;
}

h3{
  color:brown;
}

#start{
  background-color:brown;
  color:peachPuff;
}

#restart{
  background-color:brown;
  color:peachPuff;
}

.computerChoices {
  animation: computerChoices 1s;
  animation-delay: 1s;
}

@keyframes computerChoices {
  0% { background-color: peachPuff;}
  50% { background-color: grey;}
  75% { background-color: peachPuff;}
  100% { background-color: grey;}
}

.userChoices {
  animation: userChoices 1s;
}

@keyframes userChoices {
  0% { background-color: peachPuff;}
  50% { background-color: grey;}
  75% { background-color: peachPuff;}
  100% { background-color: grey;}
}

.path {
  animation: path 1s;
  animation-delay: 3s;
}

@keyframes path {
  0% { background-color: peachPuff;}
  50% { background-color: grey;}
  75% { background-color: peachPuff;}
  100% { background-color: grey;}
}
